body
{
   background-color: rgb(231, 231, 176);   
}


*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Menu principal*/
nav ul 
{
  list-style: none;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}

nav ul li 
{
	display: inline-block;
	padding: 10px;
}

ul li a
{
	text-decoration: none;
	color: rgb(13, 73, 70);	
  
} 


.portada{
	width: 100%;
	height: auto;
}


header{
  font-family: Helvetica;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px #999;
}


.navegacion{
	background-color: beige;
}

.navegacion ul{
	list-style: none;
	text-align: center;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 10px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}



/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.menu li:hover{
	color: #ffffff;
	transition: all .3s;
	background-color: #ffffff;
}

/* Parrafos*/

table td 
{
  color:lightslategray;
  font-family: "Arial", serif;
}

#main{
  background-color: white;
}

h1, h2, h3
{
  text-align: center;
  color:palevioletred;
}

h3
{
	color: green;
}

p{
  text-align: justify;
}

figure {
  position: relative;
  text-align: center;
}
 
figure:before, figure:after {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
 
#image-store {
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
}

.contac {
	margin: 0 auto;
	text-align: center;
}

.infor {
	padding: 10px;
	line-height: 30px;
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

.table-contact {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.table-contact td {
	font-family:"Constantia", serif;
	width: 30%;
}
/*Produtos Principales*/

.table{
	width: 80%;
	height: auto;
}

.table-office {
	text-align: center;
	width: 80%;
	margin: 0 auto;
  }
  table hr {
	height: 1px;
	width: 90%;
  }
  
  .image-product {
	width: 120px;
	height: 150px;
  }

  .line{
	background: black;
	 width:12%;
	 text-align: center;
	 margin: 0 auto;
	 height: 5px;
  }
  