body
{
 background-color: aquamarine;
}
/* Menu principal*/
nav ul 
{
  list-style: none;
  text-align: center;
  padding: 2px;
  font-size: 20px;
}

nav ul li 
{
	display: inline-block;
	padding: 15px;
}

ul li a
{
	text-decoration: none;
	color: rgb(13, 73, 70);	
  
} 

/* Parrafos*/

table td 
{
  
  color: rgb(29, 121, 175);
  font-family:"Constantia", serif;
}

#main{
  background-color: white;
}

h1, h2, p{
  text-align: center;
  font-family: Calibri, Helvetica, sans-serif;
}

p{
  text-align: justify;
}

figure {
  position: relative;
  text-align: center;
}
 
figure:before, figure:after {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
 
#image-store {
  width: 40%;
  height: 40%;
  margin: 0;
  padding: 0;
}